<div>
    <div class="profile_info">
        <label for="voornaam">voornaam</label>
        <input type="text" id="voornaam" name="voornaam">
    
        <label for="achternaam">achternaam</label>
        <input type="text" id="achternaam" name="achternaam">
        
        <label for="functie">functie</label>
        <input type="text" id="functie" name="functie">
    
        <label for="divisie">divisie / businessline</label>
        <input type="text" id="divisie" name="divsie">
    
        <label for="telefoonnummer">telefoonnummer - optioneel</label>
        <input type="text" id="telefoonnummer" name="telefoonnummer">
    </div>
</div>