@mixin form-labels {
    font-size: .9rem;
    position: relative;
    left: .8rem;
    top: .7rem;
    background-color: white;
}

@mixin button-click {
    position: relative;
    top: 2px;
    box-shadow: none;
}

@mixin topicus-button {
    &--topiyellow:enabled {
        color: rgb(52, 52, 52);
        background-color: $topicus-yellow;
    }

    &--topiyellow:hover:enabled {
        color: rgb(52, 52, 52);
        background-color: $topicus-yellow-shade;
    }
}