// FORMS

@mixin form {
    margin-top: 10rem;
    border: 1px solid black;
    border-radius: 5%;
    height: 17rem;
    padding: 1rem;
}

@mixin form-labels {
    font-size: .9rem;
    position: relative;
    left: .8rem;
    top: .7rem;
    background-color: white;
}

// BUTTONS

@mixin button-click {
    position: relative;
    top: 2px;
    box-shadow: none;
}

@mixin topicus-button {
    &--topiyellow:enabled {
        color: rgb(52, 52, 52);
        background-color: $topicus-yellow;
    }

    &--topiyellow:hover:enabled {
        color: rgb(52, 52, 52);
        background-color: $topicus-yellow-shade;
    }
}

// A TAG
@mixin aTag {
    position: relative;
    top: 1rem;
    font-size: .8rem;
    color: black;
}