<div>
    <form [formGroup]="inlogForm" (ngSubmit)="submit()">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" formControlName="usernameField">
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="password" formControlName="passwordField">

        <!-- <ft-formfield></ft-formfield> -->

        <button ft-button type="primary" size="desktop" [disabled]="!inlogForm.valid">Inloggen</button>
    </form>
</div>